*{
    box-sizing:border-box;
}

body{
    background-color: #C2E1FC;
    margin: 1%;
    border-style:dashed;
    border-color:aliceblue;
    padding: 2%;
}
.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.about-me h1{
  color: #ffa3c5;
  font-size: 70px;
  text-align: center;
}

.about-me p {
  color: #348493;
  font-size: 30px;
  font-family: 'Madimi One';
}
.navigation ul {
  font-family: 'Madimi One';
}
.navigation button {
  display: inline-flex;
  margin-left: 20px;
  font-size: 30px;
  background: none;
  border: none;
}

.navigation button:hover{
  text-decoration: underline;
color: pink;
}
/*header{
  background-color:#ffc2d9;
  padding: 50px;
  border-style:ridge ;
  border-color: #96cbfc;
}*/

.header{
  padding: 20px;
}
.navigation ul {
  list-style-type: none;
  color: white;
  margin-top: 0px;
}


.navigation {
  float:right;
  font-size: 30px;
}
.thats-me{
  text-align:right;
  width:250px;
  height:auto;
  float: top;
  float:right;
  margin-left: 10px;
  margin-bottom:0%;
  
}
.baby-picture{
  width: 200px;
  height: auto;
  float: right;
  border-color: white;
  border-style:dashed;
}

.home {
  font-family: 'Madimi One';
}
.home {
  color: 13, 13, 131;
  float:center;
  background:none;
  border: none;
  font-size: 30px;
 text-align: center;
}
.home button:hover{
  text-decoration:underline;
}